*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    background-color: orangered;
    height: 500px;
    width: 100%;
    color: white;
}
.left-link a{
    display: block;
    color: white;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
   
  }
  .right-link a{
    display: block;
    color: white;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    float: right;

}
img{
    padding-left: 60px;
    width: 150px;
    height: 45px;
}
input{
    width: 60%;
    vertical-align: top;
    height: 20px
}
.fa-solid fa-magnifying-glass{
    display: inline;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: orangered;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    height: 40px;
    background: #f1f1f1;
    display: inline-block;
  }
  .under-link{
    margin-left: 210px;
    align-content: inherit;
    
    text-align: justify;
   
.textdeco{
    text-decoration: none;
}
    

  }
  .white{
    color: white;
  }
.fa-brands fa-shopware{
    margin-left: 500px;
}
